@import './base.css';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.task {
  display: flex;
  width: 100%;
}

.myinput {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
}

.mybtn {
  padding: 8px 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  background-color: #007bff;
}

.danger {
  background-color: #ff0011;
}

.green {
  background-color: #00ff37;
}

.primary:hover {
  background-color: #0056b3;
}

.danger:hover {
  background-color: #bc020f;
}

.green:hover {
  background-color: #02cf2e;
}
